label {
    width: 100px;
    display: inline-block;
}
body {
    background-image: url(background.jpg);

    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: left;
    padding-left: 100px; 
    align-items: center; 
    height: 100vh; 
}
#form {
    display: grid;
    grid-template-columns: auto auto; 

    border-radius: 1px;
    padding: 20px;
}

#submit  {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    justify-self: end;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 60px); 
}
