/*body {
    font-family: Arial, sans-serif;
    background-color: #f0fcff;
    margin: 0;
    padding: 0;
}*/

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    background: #0066ff00;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000; /* Diğer içeriklerin üzerinde görünmesi için */
}

.top-bar-item {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
}

.top-bar-item:not(:last-child) {
    border-right: 1px solid #ffffff; /* Eğer aralarında ayırıcı çizgi isterseniz */
}

header {
    background-color: #0066ff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 5px;
}

.help-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Above everything else */
}

.help-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%; /* or any appropriate width */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.language-select {
    margin: 0 10px; /* Adjust the margin as necessary */
}

.language-select select {
    background: transparent;
    border: 1px solid #fff; /* Match the top-bar color */
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.flight-info, .passenger-list, .seat-map {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.flight-info h3, .passenger-list h3, .seat-map h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.passenger-list ul {
    list-style-type: none;
    padding: 0;
}

.passenger-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.seat-map .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 5px;
}

.seat.occupied {
    background-color: #c00;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0066ff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}