body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f8ff;
  padding: 0;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 10px;
  left: 20px;
}

.help-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Above everything else */
}

.help-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%; /* or any appropriate width */
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
  
.form-box {
  margin-top: 70px;
  max-width: 600px;
  background: #f1f7fe;
  border-radius: 8px;
  color: #010101;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
.form {
  margin-top: 200px;
  max-width: 600px;
  height:60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
  
.title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
  
.subtitle {
  font-size: 1rem;
  color: #666;
}
  
.form-container {
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  height: fit-content;
}
  
.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}
  
.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #f1f7fe;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}
  
.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}
  
.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}
  
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}
  
.form button:hover {
  background-color: #005ce6;
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  background: #0066ffaa;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  height: 50px; 
}

.top-bar-item {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
}

.top-bar-item:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.gender {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 8px 0;
}

.gender input {
  margin: 0 5px;
}

.gender label {
  font-size: .9rem;
  color: #666;
}

.age {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
}

.age-label {
  font-size: .9rem;
  color: #666;
}

.input, .gender, .age, select {
  margin-bottom: 16px;
}

select.input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 8px 15px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 4px;
}

.language-select {
  margin-right: 0 10 px;
  margin-top: 15px;
}

.language-select select {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.airplane-image {
  position: absolute;
  left: 50px; /* Adjust the value to move the image more to the left */
  top: 50%;
  transform: translate(-150%, -50%); /* Adjust translate values to position the image correctly */
  max-width: 400px; /* Increase or decrease the size of the image */
  z-index: -1; /* Keep it behind the form box */
}

.conditional-fields {
  display: none;
  margin-top: 10px;
}

.conditional-fields .input {
  margin-top: 10px;
}
