/* General styles */
html, body {
  height: 100%;
  margin: 0;
  /*font-family: Arial, sans-serif; /* Assuming default font */
  color: white;
}

.background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  font-size: 1.5rem;
}

.language-select {
  position: absolute;
  top: 16px;
  right: 16px;
}

.language-select select {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  appearance: none;
}

.main-content h2 {
  font-size: 4rem;
  font-weight: bold;
}

.main-content p {
  font-size: 1.25rem;
  margin-top: 8px;
}

.start-btn {
  background-color: #2b6cb0;
  padding: 12px 32px;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.start-btn:hover {
  background-color: #2c5282;
}
